html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


table ,tr, th, td {
    border:5px solid black;
 /*   border-collapse: collapse;
  */
    font-family:"Special Elite";
    border-spacing: 10;
}


b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/

@font-face {
  font-family: "Special Elite";
  src: url("../SpecialElite.ttf") format("truetype");

}

@font-face {
  font-family: "Share Tech Mono";
  src: url("../ShareTechMono-Regular.ttf") format("truetype");

}

@font-face {
  font-family: "Finger Paint";
  src: url("../FingerPaint-Regular.ttf") format("truetype");

}

@font-face {
  font-family: "AngelicWar";
  src: url("../AngelicWar.ttf") format("truetype");

}


@-webkit-keyframes redPulse {
from { background-color:darkBlue; -webkit-box-shadow: 0 0 9px deepSkyblue; }
50% { background-color: deepSkyblue; -webkit-box-shadow: 0 0 18px #3D72A4; }
to { background-color: darkblue; -webkit-box-shadow: 0 0 9px deepSkyblue; }
}

@-webkit-keyframes bluePulse {
from { background-color:darkBlue; }
50% { background-color: deepSkyblue;}
to { background-color: darkblue; }
}


a.green.button {
-webkit-animation-name:redPulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
}

q {
    font-family: 'Special Elite', cursive;
    
    

}
p {
    font-family: 'Share Tech Mono', sans-serif;
}
b {
    font-family: 'Share Tech Mono', sans-serif;
}
   

a {
    color: #fff;
    background-color:#3D72A4;
    text-decoration: none;
    padding: 0 0.1em;
   
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9); 

    border-radius: 0.8em;
    font-family: 'Share Tech Mono', sans-serif;
    font-size:16px;
    
 }
 



iframe {
    border-radius: 0.9em;
    border: 10px solid black;
      

    -webkit-box-shadow: 10px 10px 20px #002624;
    -moz-box-shadow: 10px 10px 20px #002624;
    box-shadow: 10px 10px 20px #222;

}


div { 
   
       border-radius: 0.2em;

}

p { 

          border-radius: 0.2em;
}

img {
    
    border-radius:0.8em;
}
/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') no-repeat ;
	background-size: cover;

}

body{
        
	min-height: 600px;
	padding: 100px 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
	
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}

section, header{
    display: block;
}

/*----------------------------
	Styling the presentation
-----------------------------*/

.impress-supported .fallback-message {
    display: none;
}


#impress .step{
	width:800px;
	height:400px;
	top:30px;
	position:relative;
	margin:0 auto;
	
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:0.9;
}

#impress .slide {
    display: block;

    width: 600;
    height: 400;

    padding: 40px 60px;
    
    
    background-color:#111111;
    opacity: 0.8;
    border: 0px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
   
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}



#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:red;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color: black;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
	border-radius:0.8em;
}
 
.glide {
    
    width: 1000px;
    height: 400px;

    padding: 40px 60px;
    
    
    background-color:#111111;
    opacity: 1.8;
    border: 0px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
   
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
}



/* A CUSTOM CLASS */

#new {
    width:600px;
    text-aligin:center;
    font-size: 50px;
    line-height: 1;
    top:10px;
    
}

#new q{
    color: darkblue;
    display:block;
    font-size:90px;
    top:200px;
}

#new p{
    font-size: 22px;
    line-height: 1.6;
    top: 190px;
    white-space: nowrap;
    font: normal 18px/1.3 'Open Sans', sans-serif;
    color: black;
    position:absolute;
    z-index:10;
}

/* A CUSTOM CLASS */

#event {
    text-aligin:center;
   
    line-height: 1;
   
    
}

#event q{
    color:darkblue;
    display:block;
    font-size:90px;
    top:350px;
}

#event p{
    font-size: 22px;
    line-height: 1.6;
    top: 190px;
    white-space: nowrap;
    font: normal 18px/1.3 'Open Sans', sans-serif;
    color: black;
    position:absolute;
    z-index:10;
}

/*----------------------------
	Slide 1 - Intro
-----------------------------*/

#intro {
   
    width: 600px;
    text-aligin:left;
    font-size: 60px;
    line-height: 1;
    
}
#intro q {
    text-aligin:center;
    color: darkblue;
    display: block;
    font-size:90px;
}

#intro b {
    display: block;
    font-size: 25px;
    line-height: 40px;
    top:190px;
}

#intro .thoughts {
    font-size: 90px;
    line-height: 150px;
}


#intro p{
    font-size: 22px;
    line-height: 1.6;
    top: 190px;
    white-space: nowrap;
    font: normal 18px/1.3 'Open Sans', sans-serif;
    color: black;
    position:absolute;
    z-index:10;
}

#intro img{
	top: 120px;
}


/*----------------------------
	Slide 4 - Upload
-----------------------------*/

h1 {
/*  font-family: "AngelicWar";*/
    font-size:60px;
}



#reff{
     
	width: 650px;
}

#reff q {
    font-family: 'Special Elite', cursive;
    font-size:160x;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 250px;
    font-family: 'Finger Paint', cursive;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote {
    font-size: 32px;
}

/*----------------------------
	The Footer
-----------------------------*/



footer{
	background-color: transparent;
	bottom: 3px;
	opacity:1;
	height: 20px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}




header
{
	background-color: transparent;
	opacity:1;
	height: 68px;
	left: 0;
	top:25px;
	bottom:0px;
	position: fixed;
	width: 100%;
	z-index: 100000;


}


